[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
ipython = "*"
pymongo = "*"
requests = "*"
tweepy = "*"
redis = "*"
apscheduler = "*"
pillow = "*"

[requires]
python_version = "3.7"
